.card {
    width: 30%;
    background-color: #DED7C3;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.card_image {
    display: flex;
    justify-content: center;
    max-height: min-content;
}

.card_image_img {
    width: 90%;
    border-radius: 1rem;
}